*.\#*
*\#*
*.db
*.ede
*.elc
*.pyc
*.stackdump
*~
.DS_Store
.cache
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.places
.python-environments/
.recentf
.recentf~
.smex-items
/*.zip
/.cask/
/.my-keybindings.el.swp
/eww-bookmarks
/games/
/history
/network-security.data
/recentf
/session.*
/srecode-map.el
/url/cookies
\#*
ac-comphist.dat
auto-save-list/
bookmarks
backups/
crown/
custom.el
edts/
elnode/
elpa/
eproject.lst
eshell/alias
eshell/history
eshell/lastdir
export/
my-org/
org-files/
private/
projectile-bookmarks.eld
projectile.cache
python-*-docs-html
semanticdb/
server/
smex-items
tmp/
tramp
var/
